@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  /* Reset all default margin/padding from elements. Makes sizing/positioning easier*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-snap-type: y mandatory;
}

body {
  color: white;
  background-color: #101213;
}

body > * {
  padding: 20px 40px;
  min-height: 100vh; /* at least until we have enough content to span another full screen height */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#landing {
  
  min-height: 100vh;

  /* Background image for landing */
  background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)), url('images/crypto-landing.jpg');
  background-position: center;
  background-size: cover;

  /* Center content & display in column format */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing h1 {
  font-size: 6em;
}

#landing p {
  font-size: 2em;
}

#landing button {
  width: 200px;
  height: 70px;
  margin-top: 20px;
}